[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/blst"]
	path = extern/blst
	url = https://github.com/supranational/blst.git
